<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/header.ejs') %>
    <link rel="stylesheet" href="/static/css/dashboard.css" type="text/css"">
    <title>PokéDex | Dashboard</title>
</head>
<body>
    <%- include('../components/title.ejs') %> 
    <div id="pokedex">
        <div id="pokemenu">
            <ul>
                <li><a id="link" href="/usr/<%=id%>/new">NEW+</a></li>
                <li><a id="link" href="/usr/<%=id%>/edit"><%=user.NAME.toUpperCase() %></a></li>
            </ul>
        </div>
        <div id="collection">
            <div id="left">
                <!-- Load pokemon images -->
                <button class="carousel prev">ꜛ</button>
                <div id="pkimages">
                    <% list.forEach((pokemon, idx) => { %>
                        <div id="pkimage">
                            <div id="showimage">
                                <img src="<%=pokemon.IMGURL%>" alt="<%=pokemon.NAME%>">
                            </div>
                        </div>
                        <% }) %>
                    </div>
                    <button class="carousel next">ꜜ</button>
                </div>
                <!-- Load pokemon names -->
                <% let urls = [] %> 
                <div id="pknames">
                    <% list.forEach((pokemon, idx) => { %>
                        <div id="pkname">
                            <form action="/usr/<%=id %>/<%=pokemon.POKEID %>?_method=DELETE" method="POST">
                                <button type="submit">X</button>
                            </form>
                            <button onclick="changeSelectClass(parseInt(`<%=idx%>`))"><img src="/static/icons/android-chrome-512x512.png"></button>
                            <% let url = `/usr/${id}/${pokemon.POKEID}` %>
                            <% urls.push(url) %> 
                            <a href="<%=url %>">
                                #<%=pokemon.POKEID %> <%=pokemon.NAME %>
                            </a>
                            <div id="types">
                                <span class="<%=pokemon.TYPE[0] %>"></span>
                                <span class="<%=pokemon.TYPE[1] %>"></span>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
            <%- include('../components/footer.ejs') %> 
    </body>
    <script src="/static/js/carousel.js"></script>
    <% urls.forEach(url => { %>
        <script>
            addLink(`<%= url %>`)
        </script>
    <% }) %>
    <script>
        document.querySelectorAll('#showimage').forEach(elem=>{
            elem.addEventListener('click',()=>{
                visitLink()
            })
        })
    </script>
</html>